<div class="chart">
    <h2>Pie Chart that shows number of likes per tag</h2>
    <app-likes-chart></app-likes-chart>
</div>
<div class="chart">
    <h2>Pie Chart that shows number of images per tag</h2>
    <app-images-chart></app-images-chart>
</div>
<div class="chart">
    <h2>Bar Chart that shows the number of likes per tag per month</h2>
    <app-bar-chart></app-bar-chart>
</div>
<div class="chart">
    <h2>Line Chart that shows number of images per month</h2>
    <app-line-chart></app-line-chart>
</div>